<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzp.order.mapper.OrderMapper">

    <!--创建订单-->
    <insert id="createOrder" parameterType="com.hzp.order.entity.Order" useGeneratedKeys="true" keyProperty="id">
      insert into t_order (order_no,user_id, commodity_code,count,amount) values(#{orderNo},#{userId},#{commodityCode},#{count},#{amount})
    </insert>


</mapper>
